#container{
background-color:#E14CE1;
width:270px;
padding: 10px 10px 10px 10px;
border-radius:20px;
border-left-style:dotted;
border-right-style:dotted;
}


#container_area{
background-color:#98696A;
width:225px;
padding: 10px 10px 10px 0px;
border-radius:10px;
border-top-style:dotted;
border-bottom-style:dotted;
}

#photo{
text-align:center;
}

#image{
border-radius:30px;
width:70%;
}


#pic1{
color:#57BDB9;
background-color:red;
text-align:right;
font-weight:bold;
font-style:italic;
font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
font-size:20px;
}

#pic{
color:#57BDB9;
background-color:red;
text-align:justify;
font-weight:bold;
font-style:italic;
font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
font-size:20px;
}

#COOL{

width:75px;
height:75px;
top:190px;
left:190px;


position:fixed;
border-radius:40px;

background-color:#6EE761;
border-style:outset;
border-weight:0.5px;
}


#C1{
font-size:15px;
font-weight:bold;

margin-top:30px;
margin-left:17px;
}


